*{
    list-style: none;
    text-transform: capitalize;
    box-sizing: border-box;
}
a:hover{
    text-decoration: none;
}
#header{
    box-shadow: 0px 0px 2px black;
    position: relative;
    padding: 20px;
}
#header .container{
    padding: 20px 0px;
}
#toggle-menu{
    position: absolute;
    left: 20px;
}
.logo{
    display: block;
    width: max-content;
    margin: 0px auto;
}
.logo h2{
    color: black;
    text-transform: uppercase;
    text-align: center;
}
#content{
    width: 100%;
    position: relative;
}
#content nav{
    width: 250px;
    background: #0652DD;
    min-height: 100vh;
    position: absolute;
    left: -100%;
    transition: 0.3s;
    z-index: 1000;
}
#content nav.active{
    left: 0%;
}
#content nav ul li a{
    display: block;
    padding: 10px;
    color: #fff;
    transition: 0.3s;
}
#content nav ul li a:hover{
    background: #1B1464;
}
#content nav ul li.active a{
    background: #1B1464;
}
.product-box {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.product{
    width: 250px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 40%), inset -2px -2px 1px rgb(0 0 0 / 40%), 1px 0px 0px rgb(0 0 0 / 40%);
    border-radius: 3px;
    padding: 10px;
    transition: all 0.3s;
    margin-bottom: 20px;
}
.product:hover{
    box-shadow: 0px 0px 4px rgb(0 0 0 / 40%), inset 2px 2px 1px rgb(0 0 0 / 40%), 1px 0px 0px rgb(0 0 0 / 40%);
}
.product h1{
    background: #833471;
    width: max-content;
    padding: 0px 10px;
    height: 80px;
    border-radius: 5px;
    margin: 10px auto;
    text-align: center;
    line-height: 80px;
    color: #fff;
}
.product h2{
    font-size: 1.5em;
    text-align: center;
}
.content-box{
    width: calc(100% - 250px);
    min-height: 100vh;
    position: absolute;
    right: 0;
    transition: 0.3s;
}
.content-box.active{
    width: 100%;
}
.admin-opt{
    position: absolute;
    right: 50px;
    top: 20px;
}
.hi-admin,.title-box a{
    position: relative;
    text-transform: capitalize;
    font-size: 20px;
    background: #9b59b6;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    user-select: none;
}
.hi-admin:hover{
    background: #30336b;
}
.user-options{
    display: none;
    min-width: 160px;
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    padding: 10px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 40%);
    border-radius: 5px;
    z-index: 100;
}
.user-options a {
    display: block;
    font-size: 18px;
    text-transform: capitalize;
    padding: 10px 0px;
    color: #30336b;
}
.title-box {
    width: 100%;
    min-height: 100px;
    padding: 20px;
}
.title-box h1 {
    text-transform: capitalize;
    font-size: 2em;
    color: #8e44ad;
    float: left;
}
table tr td img{
    width: 60px;
    margin: 0px auto;
    display: block;
}
table tr td button{
    margin: 5px 0px;
}
.out-of-stock{
    width: 100%;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-align: center;
    border-collapse: collapse;
}
.out-of-stock tr td,.out-of-stock tr th{
    border: 1px solid gray;
    vertical-align: middle;
    padding: 10px;
}
.out-of-stock tr:first-child td {
    background: #34495e;
    color: #fff;
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
}
.pagination ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.pagination ul li a {
    color: #fff;
    background: #9b59b6;
    display: block;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 3px;
    font-size: 18px;
    text-transform: capitalize;
}
.pagination ul li.active a ,.pagination ul li a:hover,.title-box a:hover{
    background: #d63031;
}
.title-box a{
    float: right;
}

@media (max-width : 700px){
    .content-box{
        width: 100%;
    }
    .admin-opt{
        display: none;
    }
    .title-box{
        min-height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .title-box h1{
        font-size: 1.7em;
    }
}